<VirtualHost *:80>
    ServerName {{ var_domain }}
    ServerAlias www.{{ var_domain }} site.{{ var_domain }}
    ServerAdmin webmaster@{{ var_domain }}
    DocumentRoot /var/www/{{ var_domain }}/html
    DirectoryIndex default.html
    ScriptAlias /currentweather /var/www/{{ var_domain }}/cgi-bin/currentweather
    ErrorLog ${APACHE_LOG_DIR}/{{ var_domain }}-error.log
    CustomLog ${APACHE_LOG_DIR}/{{ var_domain }}-access.log combined
</VirtualHost>
